<p id="notice"><%= notice %></p>

<h1>Ninjas</h1>

<table>
  <thead>
    <tr>
      <th>Dojo</th>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ninjas.each do |ninja| %>
      <tr>
        <td><%= ninja.dojo_id %></td>
        <td><%= ninja.first_name %></td>
        <td><%= ninja.last_name %></td>
        <td><%= link_to 'Show', ninja %></td>
        <td><%= link_to 'Edit', edit_ninja_path(ninja) %></td>
        <td><%= link_to 'Destroy', ninja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ninja', new_ninja_path %>
